@import "tailwindcss";
/* @plugin "@tailwindcss/forms"; */
/* @plugin "@tailwindcss/container-queries"; */

@theme inline {
  --color-on-secondary: #ffffff;
  --color-tertiary-fixed-dim: #e9c176;
  --color-surface-dim: #dcd9d7;
  --color-on-tertiary-fixed-variant: #5d4201;
  --color-on-secondary-fixed-variant: #524436;
  --color-secondary-fixed-dim: #d7c3b0;
  --color-inverse-primary: #dec1af;
  --color-on-error: #ffffff;
  --color-surface-container-highest: #e5e2df;
  --color-on-secondary-container: #716252;
  --color-on-primary-container: #ac9181;
  --color-surface-container-high: #eae8e5;
  --color-outline: #81756e;
  --color-surface-tint: #705a4c;
  --color-on-background: #1c1c1a;
  --color-primary: #6A311D;
  --color-on-tertiary-container: #b5924c;
  --color-secondary-container: #f4dfcb;
  --color-tertiary: #251800;
  --color-surface-container-lowest: #ffffff;
  --color-primary-fixed-dim: #dec1af;
  --color-background: #fcf9f6;
  --color-primary-fixed: #fbddca;
  --color-on-surface-variant: #4f453f;
  --color-surface-variant: #e5e2df;
  --color-outline-variant: #d2c4bc;
  --color-on-primary-fixed-variant: #574335;
  --color-on-primary: #ffffff;
  --color-primary-container: #3d2b1f;
  --color-on-error-container: #93000a;
  --color-inverse-surface: #31302f;
  --color-tertiary-fixed: #ffdea5;
  --color-surface-container: #f0edea;
  --color-inverse-on-surface: #f3f0ed;
  --color-secondary-fixed: #f4dfcb;
  --color-secondary: #6b5c4c;
  --color-on-tertiary-fixed: #261900;
  --color-on-surface: #1c1c1a;
  --color-on-primary-fixed: #28180d;
  --color-tertiary-container: #3f2c00;
  --color-surface-container-low: #f6f3f0;
  --color-on-tertiary: #ffffff;
  --color-on-secondary-fixed: #241a0e;
  --color-surface-bright: #fcf9f6;
  --color-surface: #fcf9f6;
  --color-error-container: #ffdad6;
  --color-error: #ba1a1a;

  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 9999px;

  --font-headline: var(--font-ibm-plex), sans-serif;
  --font-body: var(--font-ibm-plex), sans-serif;
  --font-label: var(--font-ibm-plex), sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-body);
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.hero-gradient {
  background: linear-gradient(to top, rgba(106, 49, 29, 0.8) 0%, rgba(106, 49, 29, 0) 60%);
}

/* Fix Arabic cursive script breaking (slicing) due to letter-spacing */
html[lang="ar"] [class*="tracking-"] {
  letter-spacing: normal !important;
}
